@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Open+Sans&family=Patrick+Hand&family=Permanent+Marker&family=Playfair+Display:wght@500&family=Prompt:wght@200;300;400;500;600;700&family=Roboto:wght@400;700;900&family=Share+Tech+Mono&family=Ubuntu:wght@300;400;500;700&family=VT323&display=swap);

:root {
  /* --primario:#95d701; */
  --primario: #5e9e40;
  --gris: #3b3b3b;
  --blanco: #ffff;
  --negro: #1f1e1e;
  --grisClaro: #f7faff;

  --separacion: 5rem;

  --fuentePrincipal: "Roboto", sans-serif;
  --fuenteSecundari: "Lato", sans-serif;
  --fuentePrecio: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem -> 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* overflow: hidden; */
  height: 100vh;
  background-color: var(--negro);
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  height: auto;
}

@media (min-width: 2160px) and (min-height: 3840px) {
}

.container {
  /* overflow: hidden; */
  height: 100%;
  /* margin-left: 5rem; */
}
/* .logo-shake {
  height: 12%;
  width: 80%;
  margin: 0 auto;
} */

/* modal */
.modal-publicidad{
  background-color: #f7faff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.modal-publicidad img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Modal order list */
.modal-order-correct{
  background-color: #f7faff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.title-logo-order-correct{
height: 15%;
background-color: var(--negro);
display: flex;
flex-direction: row;
justify-content: space-between;
}
.text-order-correct{
  width: 50%;
}
.text-order-correct h2{
color: var(--blanco);
  font-size: 12rem;
  font-family: var(--fuenteSecundari);
  font-weight: 700;
  margin: 10rem;
}
.logo-order-correct{
  width: 50%;
  margin: auto 0;
}
.logo-order-correct img{
  height: 50%;
  width: 100%;
}

.content-order-correct{
  height: 45%;
  padding-top: 10rem;
}

.content-order-correct ul li{
  margin-top: 5rem;
  padding-right: 5rem;
}
.footer-order-correct{
  background-color: var(--negro);
  height: 40%;
  padding: 10rem 0;
}

.footer-order-total{
  height: 20%;
  background-color: var(--primario);
  border-radius: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 5rem;
  padding: 0 5rem;
}

.footer-order-total h2{
  color: var(--blanco);
  font-size: 10rem;
  font-family: var(--fuenteSecundari);
  font-weight: 700;
}

.footer-order-total p{
  color: var(--blanco);
  font-size: 10rem;
  font-family: var(--fuentePrecio);
  font-weight: 700;
}

.footer-order-title-one h2{
  color: var(--blanco);
  font-size: 12rem;
  text-align: center;
  margin: 0;
  margin-top: 15rem;
}

.footer-order-icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}

.footer-order-title-two h3{
  color: var(--blanco);
  font-size: 10rem;
  margin: 0;
  text-align: center;
}